/log
/temp
/bin/platform/**
/bin/modules/**
/roles
/data/**
/config/**
!/config/local.properties
!/config/localextesions.xml
/bin/custom/**/web/**
/bin/custom/**/gensrc/**
/bin/custom/**/testsrc/**

**/.externalToolBuilders
**/.idea

**/extensioninfo.xsd
**/hmc.xsd
**/items.xsd
**/beans.xsd
**/.settings/**
*.iml
**/*testclasses.xml
*.eml
**/*.iml
*.class
*-testclasses.xml
*-webtestclasses.xml
.metadata/*
.sass-cache
.classpath

**/rebel.xml


.lastupdate
*platformhome.properties


build/config/developer.properties
